/* register form styles */

.form-register{
  min-height: 400px;

  .input-country-wrapper, .input-city-wrapper {
    width: $inpW;
    height: $inpH;   
  }

  .input-country, .input-city{
    position: relative;
    
    &-real, &-fake {
      text-transform: capitalize;
      position: absolute;
      top: 0;
      left: 0;
    }
    &-real{
      z-index: 51;
      background: transparent;
    }

    &-fake{
      z-index: 50;

    }
  } 

  .input-phone {
    position: relative;
    &::before {
      content: '+7(';
      position: absolute;
      bottom: 12px;
      left: 0;
      width: 1px;
      padding-left: 13px;  
      pointer-events: none;
      color: $lightgrey;

    }
  }

  input[name='phone'] {
    padding-left: 35px;
  }

}